* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Mali', cursive;
	text-align: center;
	margin-right: 5em;
	margin-left: 5em;
}

#bamm {
	font-family: 'Parisienne', cursive;
}

#landing {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	margin: auto;
}

#carouselExampleIndicators {
	text-align: center;
}


#descrip {
	margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: justify;
}

#skills {
	vertical-align: top;
}

#knowme {
	font-family: 'Abril Fatface', cursive;
}

#reach {
	font-family: 'Abril Fatface', cursive;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

#selfie {
	display: flex;
	justify-content: center;
	max-width: 100%;
	margin-left: auto;
    margin-right: auto;
}